extends layout



block content

    #header-bar

        img(src="images/logo.png", alt="Logo", height="44px")

    #side-bar

    #story-container

        #padded-story-container
        
            #prompt
                h3#prompt-title prompt
                p#prompt-body

            #story
                h3#story-title the story so far
                p#story-body

            #progress
                h3#progress-title what's up next
                p#progress-body

    #loading-bar-wrapper

        #loading-bar

        #loading-overlay
